.topBar {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.topBar .nav-item {
    padding-right: 15px;
    margin: 5px 15px 5px 0px;
    border-right: 1px solid #000;
}
.topBar .nav-item:last-child {
    border-right: none;
    padding-right: 0px
}
.topBar .nav-link {
    width: auto;
    padding: 0;
    height: auto;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #000;
}
.topBar .dropdown-menu {
    border-radius: 0px;
    border: none;
    box-shadow: 0px 5px 5px #00b3db80;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.topBar .dropdown-menu a {
  cursor: pointer;
}
.navbar-background {
  position: relative;
  z-index: 10;
  background: #74ebd5;
  background: -webkit-linear-gradient(to top, #74ebd596,#74ebd596);
  background: linear-gradient(to top,#74ebd596, #74ebd596);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: #fff;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.navbar-background .nav-item {
  padding: 0.5rem 1rem;
}
.cart-btn{
  background-color: #fff;
  border-radius: 50%;
  padding: 0.4rem 0.5rem;
  box-shadow: 0px 5px 5px #00b3db80;
  color: #00b3db;
  cursor: pointer;
}
.cart-btn:hover{
  background-color: #00b3db;
  color: #fff;
}
.search-btn{
  background-color: #fff;
  border-radius: 50%;
  color: #00b3db;
}
.search-btn:hover{
  background-color: #00b3db;
  color: #fff;
}
.search-input{
  border: none;
  box-shadow: none;
  outline: none;
}
.search-input:focus{
  border: none;
  box-shadow: none;
  outline: none;
}
@media screen and (max-width: 991px) {
  .topBar {
    display: none;
  }
}
