.topBar {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.topBar .nav-item {
    padding-right: 15px;
    margin: 5px 15px 5px 0px;
    border-right: 1px solid #000;
}
.topBar .nav-item:last-child {
    border-right: none;
    padding-right: 0px
}
.topBar .nav-link {
    width: auto;
    padding: 0;
    height: auto;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #000;
}
.topBar .dropdown-menu {
    border-radius: 0px;
    border: none;
    box-shadow: 0px 5px 5px #00b3db80;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.topBar .dropdown-menu a {
  cursor: pointer;
}
.navbar-background {
  position: absolute;
  z-index: 10;
  background: #00b4db;
  background: -webkit-linear-gradient(to top, #00b4db, #0083b0);
  background: linear-gradient(to top, #00b4db, #0083b0);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: #fff;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.navbar-background .nav-item {
  padding: 0.5rem 1rem;
}
.navbar-background .nav-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navbar-background .nav-link:hover {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .topBar {
    display: none;
  }
}
